@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #121729;
}

.app {
  width: 60%;
  height: 60%;
  max-width: 400px;
  min-height: 500px;
  margin-right: -50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 30px;
  background: #495586;
}

.modal__container {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.modal__header {
  display: inline-block;
  width: 100%;
  background: #373f61;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  h1 {
    color: white;
    margin-left: 30px;
    font-family: Roboto;
  }
}

.modal__box {
  padding: 0 30px 0 20px;
}

.settings__box {
  display: inline-block;
  margin: 20px 5px 0 10px;
  span {
    color: white;
    font-family: RobotoLight;
  }
  input {
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
  }
}

.list__container {
  margin: 20px 10px 0 10px;
  p {
    color: white;
    font-family: RobotoLight;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      line-height: 1.5;
      margin-bottom: 5px;
      border-bottom: 1px solid #373f61;
      display: block;
      cursor: pointer;
      list-style: none;
      color: white;
      font-family: RobotoLight;
    }
  }
}

.settings__btn {
  height: 25px;
  border: 1px solid #2b3354;
  background: #373f61;
  border-radius: 10px;
  color: white;
  outline: none;
}

.todo__checked {
  text-decoration: line-through;
}
